.idea
*.iml
*.ipr
*.iws
out
 
# Eclipse Project files
.classpath
.project
.settings/
.metadata
gen/
target/
bin/
RemoteSystemsTempFiles/
Servers/
local.properties
 
.DS_Store
Thumbs.db

*.log
*.bak
*.tem
*.temp
*.gz
#.swp
*.*~
~*.*

logs/
assembly/server/webapps/*
assembly/server/temp/*
assembly/*.jar
assembly/core/*
assembly/lib